apiVersion: v1
kind: Pod
metadata:
  name: frontend
  namespace: demo
  labels:
    app: frontend
spec:
  containers:
  - name: curl
    image: curlimages/curl
    command: ["/bin/sleep", "infinity"]
