apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: default
  namespace: istio-system
spec:
  mtls:
    mode: STRICT
---
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: backend-policy
  namespace: demo
spec:
  selector:
    matchLabels:
      app: backend-local
  action: ALLOW
  rules:
  - from:
    - source:
        namespaces: ["demo"]
